# Entorno virtual
Lib/
Scripts/
pyvenv.cfg

# Caché de Python
__pycache__/
*.pyc

#Carpetas de salida
Notificaciones/
Reportes/
Pendientes/

# Archivos de configuración
config.py
config_sigae.jso

# Archivos de datos
NOTIFICACIONES BAJAS.xlsx
listado_estudiantes.xlsx
pendientes_recuperacion.xlsx
